* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 64px;
	text-align: center;
	background: peachpuff;
	padding: 12px;
	border: 5px solid black;
	border-radius: 18px;
	margin: 24px;
}

.section-one {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 9rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 32px;
	background: #FAF9F6;
	border: 3px solid lightgray;
	border-radius: 18px;
}

button {
	font-size: 28px;
	font-weight: 400;
	background: peachpuff;
	color: black;
	padding: 12px;
	border: 3px solid black;
	border-radius: 18px;
	transition: all 0.3s;
}

button:hover {
	font-size: 24px;
	background: black;
	border: 3px solid lightgray;
	color: peachpuff;
}

.container {
	display: flex;
	height: 700px;
	width: 700px;
	border: 5px solid black;
	border-radius: 12px;
}

.column, .row {
	display: flex;
	flex-direction: column;
	flex: 1;
	border: 1px solid lightgray;
}

.footer {
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	padding: 24px;
	margin: 24px;
}	
